{% extends 'Contactos/layout.html'%}

{% block body %}

    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/Editado/{{Contactos.0}}" method="post">
                <div class="form-group">
                    <input type="text" name="Nombre" value="{{Contactos.1}}" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="Telefono" value="{{Contactos.2}}" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Email" value="{{Contactos.3}}" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">
                        Editar
                    </button>
                </div>

            </form>    
        </div>
    </div>
{% endblock %}