    {% extends 'Contactos/layout.html' %}

    {% block body %}

    <div class="row">
        <div class="col-md-5">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="card card-body">
                <form action="Nuevo" method="post">
                    
                    <div class="form-group">
                        <input type="text" name="Nombre" placeholder="Nombre Completo" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="Tel" placeholder="Telefono" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="Email" placeholder="Email" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-success form-control">
                            Guardar
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Telefono</td>
                        <td>Email</td>
                        <td>Operaciones</td>
                    </tr>
                </thead>
                <tbody>
                    {%for contacto in contactos%}
        
                        <tr>
                            <td>{{ contacto.1}}</td>
                            <td>{{ contacto.2}}</td>
                            <td>{{ contacto.3}}</td>
                            <td>
                                <a href="Editar/{{contacto.0}}" class="btn btn-secondary">Editar</a>
                                <a href="Eliminar/{{contacto.0}}" class="btn btn-success">Eliminar</a>
                            </td>
                        </tr>
        
                    {% endfor %}
                </tbody>
            </table>        
        </div>
    </div>
    


    
    {% endblock %}